In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib as pyplot

In [4]:
df = pd.read_csv("openaq_cleaned.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61177 entries, 0 to 61176
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Code   61177 non-null  object
 1   City           32031 non-null  object
 2   Location       61175 non-null  object
 3   Coordinates    61107 non-null  object
 4   Pollutant      61177 non-null  object
 5   Source Name    61177 non-null  object
 6   Unit           61177 non-null  object
 7   Value          61177 non-null  float64
 8   Last Updated   61177 non-null  object
 9   Country Label  61050 non-null  object
dtypes: float64(1), object(9)
memory usage: 4.7+ MB

In [6]:
df.head(10)

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
0,US,Salem,Woodburn Chemeketa C,"45.143141, -122.854708",PM2.5,AirNow,µg/m³,2.600000,2023-05-23T04:30:00+05:30,United States
1,CO,NaN,MED-EXSA - Exito San Antonio - Medellin,"6.2493334, -75.5702515",PM10,Medellin,µg/m³,59.000000,2019-10-25T01:30:00+05:30,Colombia
2,CY,Λεμεσός - Κυκλοφοριακός Σταθμός,Limassol - Traffic Station,"34.6861111, 33.03555559999995",SO2,Republic of Cyprus Department of Labor Inspection,µg/m³,0.644924,2025-01-31T14:30:00+05:30,Cyprus
3,KR,NaN,백마로(마두역),"37.65450859999999, 126.7755571",NO2,korea-air,ppm,0.007200,2025-01-28T14:30:00+05:30,"Korea, Republic of"
4,KR,NaN,연향동,"34.947102, 127.51857500000001",SO2,korea-air,ppm,0.001400,2025-01-28T14:30:00+05:30,"Korea, Republic of"
5,MN,Өлгий хот,Өлгий,"48.96919444444445, 89.96494444444444",SO2,Tsag-Agaar.gov.mn,µg/m³,101.000000,2019-12-31T17:30:00+05:30,Mongolia
6,US,Jacksonville,Pepsi Place,"30.262808, -81.606834",PM2.5,AirNow,µg/m³,12.900000,2023-05-31T04:30:00+05:30,United States
7,US,Moscow,Moscow,"46.728199, -116.954597",PM2.5,AirNow,µg/m³,5.000000,2023-05-27T05:30:00+05:30,United States
8,US,Santa Barbara-Santa Maria,Santa Ynez,"34.605819, -120.07506",PM2.5,AirNow,µg/m³,11.000000,2023-04-13T01:30:00+05:30,United States
9,US,WASHINGTON,TakomaRec,"38.970101, -77.016715",O3,AirNow,ppm,0.048000,2023-04-05T00:30:00+05:30,United States

In [7]:
df.sample(10)

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
14635,CZ,Pardubice,Pardubice Dukla,"50.02403640733767, 15.763548851105888",SO2,eea,µg/m³,1.30000,2025-01-31T12:30:00+05:30,Czech Republic
53454,AU,Sydney North-west,Parramatta North,"-33.799444, 150.997778",CO,Australia - New South Wales,ppm,0.10000,2022-11-23T04:30:00+05:30,Australia
14943,BA,Gorazde,GORAZDE - RASADNIK,"43.661600000217156, 18.977499999736352",PM10,eea,µg/m³,-1.00000,2024-05-07T19:30:00+05:30,Bosnia and Herzegovina
53361,CN,NaN,风景区(对照点),"34.7955, 111.14300000000001",SO2,ChinaAQIData,µg/m³,3.00000,2021-08-09T16:30:00+05:30,China
53044,CN,NaN,友谊中学,"30.4663, 106.6271",PM10,ChinaAQIData,µg/m³,18.00000,2021-08-09T16:30:00+05:30,China
50148,ES,POBLA (SA),SA POBLA,"39.74847199977645, 3.01599999970793",SO2,eea,µg/m³,2.70000,2025-01-31T12:30:00+05:30,Spain
16574,FR,MARSEILLE 4E ARRONDISSEMENT,MARSEILLE 5 AVENUES,"43.305285999927285, 5.394716000050973",CO,eea,µg/m³,328.00000,2025-01-31T13:30:00+05:30,France
19579,GB,North West & Merseyside,St Helens Linkway - UKA00627,"53.45182599939756, -2.742134000297141",NO2,eea,µg/m³,13.19625,2025-01-31T11:30:00+05:30,United Kingdom
3527,CN,NaN,东风东路,"25.037499999999998, 102.7266",O3,ChinaAQIData,µg/m³,84.00000,2021-08-09T16:30:00+05:30,China
46555,US,GILA,Miami Town Site,"33.397433, -110.87445",SO2,AirNow,ppm,0.00020,2023-05-31T04:30:00+05:30,United States

In [8]:
null_summary = pd.DataFrame({
    "null_count": df.isnull().sum(),
    "null_percentage": (df.isnull().mean() * 100).round(2)
})

print(null_summary)

               null_count  null_percentage
Country Code            0             0.00
City                29146            47.64
Location                2             0.00
Coordinates            70             0.11
Pollutant               0             0.00
Source Name             0             0.00
Unit                    0             0.00
Value                   0             0.00
Last Updated            0             0.00
Country Label         127             0.21

In [9]:
print("Nulls before:", df.isnull().sum().sum())

df = df.dropna()

print("Nulls after:", df.isnull().sum().sum())

Nulls before: 29345
Nulls after: 0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31859 entries, 0 to 61173
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Code   31859 non-null  object
 1   City           31859 non-null  object
 2   Location       31859 non-null  object
 3   Coordinates    31859 non-null  object
 4   Pollutant      31859 non-null  object
 5   Source Name    31859 non-null  object
 6   Unit           31859 non-null  object
 7   Value          31859 non-null  float64
 8   Last Updated   31859 non-null  object
 9   Country Label  31859 non-null  object
dtypes: float64(1), object(9)
memory usage: 2.7+ MB

In [11]:
df.head(10)

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
0,US,Salem,Woodburn Chemeketa C,"45.143141, -122.854708",PM2.5,AirNow,µg/m³,2.600000,2023-05-23T04:30:00+05:30,United States
2,CY,Λεμεσός - Κυκλοφοριακός Σταθμός,Limassol - Traffic Station,"34.6861111, 33.03555559999995",SO2,Republic of Cyprus Department of Labor Inspection,µg/m³,0.644924,2025-01-31T14:30:00+05:30,Cyprus
5,MN,Өлгий хот,Өлгий,"48.96919444444445, 89.96494444444444",SO2,Tsag-Agaar.gov.mn,µg/m³,101.000000,2019-12-31T17:30:00+05:30,Mongolia
6,US,Jacksonville,Pepsi Place,"30.262808, -81.606834",PM2.5,AirNow,µg/m³,12.900000,2023-05-31T04:30:00+05:30,United States
7,US,Moscow,Moscow,"46.728199, -116.954597",PM2.5,AirNow,µg/m³,5.000000,2023-05-27T05:30:00+05:30,United States
8,US,Santa Barbara-Santa Maria,Santa Ynez,"34.605819, -120.07506",PM2.5,AirNow,µg/m³,11.000000,2023-04-13T01:30:00+05:30,United States
9,US,WASHINGTON,TakomaRec,"38.970101, -77.016715",O3,AirNow,ppm,0.048000,2023-04-05T00:30:00+05:30,United States
10,US,Boston-Cambridge-Quincy,LYNN,"42.474701, -70.971901",PM2.5,AirNow,µg/m³,4.000000,2022-04-27T00:30:00+05:30,United States
12,SI,Nova Gorica,Nova Gorica,"45.955569063014806, 13.652389822931456",PM10,eea,µg/m³,20.500000,2024-08-01T12:30:00+05:30,Slovenia
13,US,CA8 - ARB,Santa Rosa Fire Stat,"38.438362, -122.671344",PM2.5,AirNow,µg/m³,1.000000,2017-11-19T14:30:00+05:30,United States

In [12]:
df.sample(10)

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
26778,ES,GETAFE,GETAFE,"40.3145179997149, -3.7168679999477794",NO,eea,µg/m³,19.000000,2024-02-29T04:30:00+05:30,Spain
8687,TH,Chanthaburi,Chanthaburi Meteorological Station,"12.6095704, 102.1040804",PM2.5,Air4Thai,µg/m³,4.500000,2024-07-06T13:30:00+05:30,Thailand
13872,CO,Itagüí,ITA-CONC - Itagüí - I.E. Concejo Municipal de ...,"6.1684971, -75.6443558",PM10,Medellin,µg/m³,38.000000,2024-09-05T21:30:00+05:30,Colombia
58194,ZA,Waterberg,Mokopane,"-24.155951, 28.984199",PM10,South Africa,µg/m³,36.271000,2023-05-29T09:30:00+05:30,South Africa
59840,ZA,West Coast,Vredenburg,"-32.901722, 17.992206",NO2,South Africa,ppm,0.006217,2022-05-25T11:30:00+05:30,South Africa
36821,HR,Polača,POLAČA (Ravni kotari),"44.02109444443817, 15.516111111284099",PM2.5,eea,µg/m³,6.300000,2025-01-31T12:30:00+05:30,Croatia
30162,CZ,Brno,Brno-Lisen,"49.21321105953377, 16.678024291790813",PM2.5,eea,µg/m³,5.600000,2025-01-31T12:30:00+05:30,Czech Republic
9659,AT,Amt der Burgenländischen Landesregierung,NET.01,"47.839999999465924, 16.528059999999996",PM10,EEA Austria,µg/m³,8.983351,2024-03-04T15:30:00+05:30,Austria
17200,US,Gillette,Thunder Basin,"44.6633, -105.287498",NOX,AirNow,ppm,0.003300,2023-05-30T20:30:00+05:30,United States
34726,HU,Kecskemét,"""K-puszta""","46.96666700001057, 19.54999999992366",SO2,eea,µg/m³,1.397516,2025-01-31T13:30:00+05:30,Hungary

In [1]:
# === 1. Imports ===
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# === 2. Load data ===
df = pd.read_csv("preprocessed_openaq_ready.csv")

# Strip any extra spaces from column names to avoid KeyError
df.columns = df.columns.str.strip()

print("Columns in df:", df.columns.tolist())
print("\nData info:")
print(df.info())

# === 3. Null value sum ===
print("\nNull values in each column:")
print(df.isnull().sum())

# === 4. Safely handle 'Coordinates' -> Latitude, Longitude ===
if "Coordinates" in df.columns:
    coords_split = df["Coordinates"].str.split(",", n=1, expand=True)

    # Convert to numeric, coerce errors to NaN
    df["Latitude"] = pd.to_numeric(coords_split[0], errors="coerce")
    df["Longitude"] = pd.to_numeric(coords_split[1], errors="coerce")
else:
    print("\nWARNING: 'Coordinates' column NOT found. Skipping Latitude/Longitude creation.")

# === 5. Drop rows with important nulls (robust, no KeyError) ===
# We at least need the target 'Value'
key_cols = ["Value"]

# If Latitude/Longitude exist, treat them as important too
for col in ["Latitude", "Longitude"]:
    if col in df.columns:
        key_cols.append(col)

# Keep only columns that are actually in the dataframe
key_cols = [c for c in key_cols if c in df.columns]

df = df.dropna(subset=key_cols)

print("\nShape after dropping nulls in key columns:", df.shape)

# If you want to drop ANY row with any NaN in the whole row, uncomment:
# df = df.dropna()

# === 6. Define features X and target y ===
target_col = "Value"

# Ensure target exists
if target_col not in df.columns:
    raise ValueError(f"Target column '{target_col}' not found in dataframe!")

X = df.drop(columns=[target_col])
y = df[target_col]

# === 7. Separate numeric and categorical columns ===
numeric_features = X.select_dtypes(include=["int64", "float64"]).columns.tolist()
categorical_features = X.select_dtypes(include=["object", "bool"]).columns.tolist()

print("\nNumeric features:", numeric_features)
print("Categorical features:", categorical_features)

# === 8. Preprocessor: OneHot for categories, passthrough numbers ===
preprocess = ColumnTransformer(
    transformers=[
        ("num", "passthrough", numeric_features),
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_features),
    ]
)

# === 9. Train-test split ===
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# === 10. Define 3 ML models ===
models = {
    "LinearRegression": LinearRegression(),
    "DecisionTree": DecisionTreeRegressor(random_state=42),
    "RandomForest": RandomForestRegressor(n_estimators=100, random_state=42),
}

# === 11. Train & evaluate each model ===
for name, model in models.items():
    print(f"\n===== {name} =====")
    pipe = Pipeline(steps=[("preprocess", preprocess),
                           ("model", model)])
    
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)

    mae = mean_absolute_error(y_test, y_pred)
    rmse = mean_squared_error(y_test, y_pred) ** 0.5
    r2 = r2_score(y_test, y_pred)

    print(f"MAE  : {mae:.4f}")
    print(f"RMSE : {rmse:.4f}")
    print(f"R²   : {r2:.4f}")

Columns in df: ['Country Code', 'Country Label', 'City', 'Location', 'Pollutant', 'Value', 'Unit', 'Latitude', 'Longitude', 'Last Updated', 'Year', 'Month', 'Day', 'Hour', 'Pollutant_encoded', 'Country_encoded']

Data info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53395 entries, 0 to 53394
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country Code       53395 non-null  object
 1   Country Label      53395 non-null  object
 2   City               53395 non-null  object
 3   Location           53393 non-null  object
 4   Pollutant          53395 non-null  object
 5   Value              53395 non-null  float64
 6   Unit               53395 non-null  object
 7   Latitude           53395 non-null  float64
 8   Longitude          53395 non-null  float64
 9   Last Updated       53395 non-null  object
 10  Year               53395 non-null  int64
 11  Month              53395 non-null  int64
 12  Day                53395 non-null  int64
 13  Hour               53395 non-null  int64
 14  Pollutant_encoded  53395 non-null  int64
 15  Country_encoded    53395 non-null  int64
dtypes: float64(3), int64(6), object(7)
memory usage: 6.5+ MB
None

Null values in each column:
Country Code         0
Country Label        0
City                 0
Location             2
Pollutant            0
Value                0
Unit                 0
Latitude             0
Longitude            0
Last Updated         0
Year                 0
Month                0
Day                  0
Hour                 0
Pollutant_encoded    0
Country_encoded      0
dtype: int64

WARNING: 'Coordinates' column NOT found. Skipping Latitude/Longitude creation.

Shape after dropping nulls in key columns: (53395, 16)

Numeric features: ['Latitude', 'Longitude', 'Year', 'Month', 'Day', 'Hour', 'Pollutant_encoded', 'Country_encoded']
Categorical features: ['Country Code', 'Country Label', 'City', 'Location', 'Pollutant', 'Unit', 'Last Updated']

===== LinearRegression =====
MAE  : 2607.5758
RMSE : 37135.9101
R²   : -0.3348

===== DecisionTree =====
MAE  : 835.8962
RMSE : 33090.3800
R²   : -0.0598

===== RandomForest =====
MAE  : 1001.8665
RMSE : 33373.7740
R²   : -0.0780